.home {
    background-color: #C4C4C4;
    height:100vh;
}

body .nav-home {
    background-color: #fff;
    display: flex;
}

.nav-home a{
    text-decoration: none;
}
.icon {
    background-color: #337ED7;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    border-radius: 50%;
  
    /* padding: 21% 44% 21% 44%; */
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
}

.icon img{
    width: 50px;
    height: 50px;
}

.welcome {
    width: 50%;
    color: #ffff;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    /* padding: 5% 10% 5% 10%; */
    border-radius: 8px;
    margin-top: auto;
}

    .welcome .btn-primary {
        background-color: #337ED7 !important;
        width: 100%;
        border-radius: 3px;
    }


.home-main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*.welcome form input{
	background-color:#c0e2ff;
}
*/
.welcome form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    font-weight: 500;
    opacity: 1; /* Firefox */
}

.welcome form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
}

.welcome form input::-ms-input-placeholder { /* Microsoft Edge */
    color: #000;
}

/* .icon{
    background-color: #337ED7;
    color: #fff;
    font-weight: 500;
    font-size: 23px;
    border-radius: 0%;
    margin: 0px 0px 0px 0;
    padding: -0.5%;
    padding-left: 20px;
    padding-right: 20px;
} */